body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(216, 161, 88);
  display: flex;
  flex-direction: column;
}

.board{
  margin: auto;
}

.round{
  font-size: 30px;
  margin: 0 auto 50px;
  text-align: center;
}
.game-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  border: solid 4px #000;
  border-radius: 10px;
}

.game-wrapper.gameover{
  pointer-events: none;
}

.cell{
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: solid 1px #000;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
.cell.none{
  pointer-events: none;
}

.light-box{
  width: 300px;
  height: 400px;
  background-color: #fff;
  color: rgb(221, 25, 188);
  border-radius: 30px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 5px 5px 20px rgba(0,0,0,.3);
  transition: transform .5s;
}

.light-box.hide{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%,-40%)
}

.light-box button{
  font-size: 30px;
  margin-top: 60px;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #dd7a7a;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color .5s;
}

.light-box button:hover{
  background-color: rgb(163, 51, 228);
}

.play-again{
  padding: 15px;
  background-color: green;
  margin-top: 30px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color .5s,opacity .5s;
  pointer-events: none;
  opacity: 0;
}

.play-again.show{
  opacity: 1;
  pointer-events: auto;

}

.play-again:hover{
  background-color: rgb(228, 204, 66);
}
